body{
    padding: 0;
    margin: 0;
}
.banner{
    width: 100%;
  position: relative;
}
.catelist{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

}
.cateitem{
    display: inline-block;
    font-size: 30px;
    /* color: white; */
    padding: 0 20px;

   
}
.banner ul li{
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}
li img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

#imglist{
    overflow: hidden;
    height: 500px;
    white-space: nowrap;
}
.imgitem{

    display: inline-block;
}
 .imgactive{
   animation: 3s linear 0s   move;
   z-index: 99;
}
@keyframes move {
 from{
    transform: translateX(0);
 }
 to{
    transform: translateX(-100%);
 }
}

.layout{
    width: 1600px;
    margin: auto;
}